<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>277956913472-p97u6d97gv8a9u8v6ktvn6j0ds6s2mso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277956913472-p97u6d97gv8a9u8v6ktvn6j0ds6s2mso</string>
	<key>API_KEY</key>
	<string>AIzaSyA0DN68GOjE3za8_JqunAYMcVkUmK5TDr4</string>
	<key>GCM_SENDER_ID</key>
	<string>277956913472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LAVESHMUSIC.LAVESHMUSIC</string>
	<key>PROJECT_ID</key>
	<string>laveshmusic-licensing-4bfa5</string>
	<key>STORAGE_BUCKET</key>
	<string>laveshmusic-licensing-4bfa5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277956913472:ios:f65ed3a38e875943</string>
	<key>DATABASE_URL</key>
	<string>https://laveshmusic-licensing-4bfa5.firebaseio.com</string>
</dict>
</plist>